apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: chatapp-backend
          image: chetan0172/chatapp-backend:latest
          ports:
            - containerPort: 5001
          env:
            - name: NODE_ENV
              value: "production"

            - name: PORT
              value: "5001"

            - name: MONGODB_URI
              value: "mongodb://root:root@mongodb:27017/chat-app?authSource=admin"
            - name: JWT_SECRET
              value: "superstrongjwtsecret123" 
